:root {
	--secondary: #F08CBC;
	--primary: #E11979;
	--background-light: #736AA7;
	--background-dark: #352F5B;
	--color-accent: #FFB6D9;
	--color-highlight: #FF67B0;
	--color-light: #e9ecef;
	--color-border: #ced4da;
}